.choiceBtn{
    line-height: 30px;
    width: 150px;
}

#gameDiv{
    font-family:  'Brush Script MT', cursive;
    border: 3 px solid;
    border-radius: 25 px;
    padding: 10 px;
    background-color: lightgrey;
    text-align: center;
}

#playerText{
    color: blue;
}

#computerText{
    color: red;
}
